.additionally {
  display: grid;
  grid-column: 1fr;
  width: 100%;
}

.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
}

.additionally__button {
  margin-left: auto;
}

.additionally__list {
  width: 280px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .additionally__item:not(:last-child) {
    padding-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .additionally {
    grid-template-columns: repeat(2, 1fr);
  }

  .additionally__item {
    padding: 20px 0;
  }

  .additionally__button {
    margin-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .additionally {
    max-width: 1220px;
    flex-direction: row;
    justify-content: space-around;
  }

  .additionally__button {
    width: 20px;
    height: 20px;
  }
}
