.advantages {
  background-color: @light-grey;
}

.advantages__wrapper {
  position: relative;
  padding: 20px;
  height: 256px;
}

.advantages__list {
  .margins;
  list-style-type: none;
}

@media (max-width: 767px) {
  .advantages__item--fat {
    position: absolute;
    content: "";
    top: 0;
    left: 47px;
    overflow: hidden;
    width: 128px;
    height: 280px;
    background-image: url("../images/fat-cat-mobile.png");
    background-color: @light-grey;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .advantages__item--skinny {
    position: absolute;
    content: "";
    top: 0;
    left: 63px;
    background-image: url("../images/skinny-cat-mobile.png");
    background-repeat: no-repeat;
    width: 220px;
    height: 280px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    background-image: linear-gradient(@white 30%, @light-grey 30%);
  }

  .advantages__wrapper {
    height: 616px;
  }

  .advantages__image {
    width: 560px;
    height: 512px;
  }

  .advantages__item--fat {
    position: absolute;
    background-image: url("../images/fat-cat-tablet.png"),
      linear-gradient(@white 35%, @light-grey 35%);
    overflow: hidden;
    width: 290px;
    height: 512px;
    left: 100px;
    z-index: 1;
  }

  .advantages__item--skinny {
    position: absolute;
    background-image: url("../images/skinny-cat-tablet.png");
    background-repeat: no-repeat;
    width: 560px;
    height: 512px;
    left: 100px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    content: "";
    position: absolute;
    top: 1607px;
    right: 110px;
    width: 770px;
  }
}
