.contacts__wrapper {
  display: flex;
  min-height: 112px;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__title {
  .margins;
  padding-top: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
}

.contacts__adress {
  padding-top: 26px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding: 60px 70px;
    justify-content: space-between;
  }

  .contacts__title,
  .contacts__adress {
    width: 170px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    .margins;
    background-color: @white;
    position: absolute;
    top: 100px;
    left: 80px;
    width: 405px;
    height: 86px;
    z-index: 1;
    align-items: center;
  }

  .contacts__title,
  .contacts__adress {
    .margins;
  }
}
