.description__wrapper {
  padding: 20px;
}

.description__list {
  .margins;
  list-style-type: none;
}

.description__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  .margins;
}

.description__item:not(:last-child) {
  margin-bottom: 20px;
}

.description__text {
  .margins;
  color: @special_dark-grey;
}
