.example {
  background-color: #f5f5f5;
}

.example__wrapper {
  padding: 25px 20px;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.example__description {
  margin: 0;
  padding: 0;
  color: #444444;
}
