@media (min-width: @tablet-width) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    align-items: flex-end;
    height: 120px;
  }
}
