.item-block {
  background-color: @basic-grey;
  padding: 20px 20px;
}

.item-block__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  .margins;
}

.item-block__description {
  .margins;
  color: @special_dark-grey;
}

.item-block__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}

.item-block__icon {
  background-color: @basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
