.item-block {
  display: flex;
  flex-wrap: wrap;
  background-color: @basic-grey;
  padding: 20px 20px;
}

.item-block__title {
  .margins;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 15px;
  padding-bottom: 35px;
}

.item-block__description {
  .margins;
  color: @special_dark-grey;
  margin-bottom: 44px;
}

.item-block__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}

.item-block__icon {
  background-color: @basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: @tablet-width) {
  .item-block__title {
    font-size: 30px;
    line-height: 30px;
  }

  .item-block__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  .item-block__icon {
    width: 200px;
    height: 200px;
  }
}
.item-block__link {
  font-size: 20px;
  line-height: 30px;
}
