.navigation {
  min-height: 65px;
}

.navigation__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: @white;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 3px;
    width: 24px;
    height: 2px;
    background-color: @black;
    rotate: 45deg;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 4px;
    width: 24px;
    height: 2px;
    background-color: @black;
    rotate: -45deg;
  }
}

.navigation__list {
  .margins;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
}

.navigation__item {
  text-align: center;
  padding: 24px 0;
  box-sizing: border-box;
  border-top: 1px solid @light-grey;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @black;

  &:visited {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px @basic-green;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation {
    padding-right: 30px;
  }

  .navigation__list {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
  }

  .navigation__item {
    position: relative;
    border: none;
  }

  .navigation__link--current::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
  }

  .navigation__item:not(:last-child) {
    margin-right: 36px;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    padding-right: 110px;
  }

  .navigation__link--white {
    color: @white;
  }

  .navigation__link--current::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @white;
  }

  .navigation__item {
    z-index: 2;
  }
}
