@media (min-width: @mobile-width) {
  .position__item {
    margin-bottom: 29px;
    box-sizing: border-box;
  }

  .position__title {
    .margins;
    margin-bottom: 13px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: @special_dark-grey-2;
  }

  .position__table {
    margin-bottom: 25px;
    color: @special_dark-grey;
  }

  .position__button {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 109px;
    background-color: @basic-green;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
  .position__item {
    display: flex;
    justify-content: space-between;
  }
}
