.position__item {
  margin-bottom: 19px;
}

.position__title {
  .margins;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.position__table {
  margin-bottom: 15px;
  color: #444444;
}

.position__button {
  .button__order;
}
