.promo {
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../images/index-background.jpg");
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 302px;

  .promo__title {
    margin: 0;
    padding: 0;
  }

  .promo__slogan {
    margin: 0;
    padding: 0;
  }

  .promo__button {
    text-decoration: none;
    color: #fff;
  }
}
