.promo {
  background-image: linear-gradient(
      hsl(97 53% 47% / 85%),
      hsl(97 53% 47% / 85%)
    ),
    url("../images/index-background.jpg");
  background-repeat: no-repeat;
  color: @white;
  height: 302px;
}

.promo__wrapper {
  margin-bottom: 20px;
  padding: 0 20px;
}

.promo-image {
  width: 280px;
  height: 270px;
}

.promo__title {
  .margins;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 30px 0;
  text-align: center;
}

.promo__slogan {
  .margins;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.promo__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 73px;
  text-align: center;
  background-color: @basic-green;
  color: @white;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    padding: 0 30px;
  }

  .promo__wrapper::before {
    content: "";
    position: absolute;
    width: 709px;
    height: 609px;
    bottom: 0;
    left: 0;
    background-image: url("images/index-promo-tablet .png");
    background-repeat: no-repeat;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    padding: 30px 0;
    color: @black;
    text-align: left;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @black;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    padding: 0 110px;
  }
}
