.selection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.selection__fieldset {
  .margins;
  padding: 20px 0;
  border: none;
}

.selection__list {
  .margins;
  list-style-type: none;
}

.selection__item {
  margin-bottom: 13px;
}

.selection__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.selection__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 15px;
  width: 100%;
  color: @special_dark-grey;
  box-sizing: border-box;
}

.selection__title {
  .margins;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  position: relative;
  top: -30px;
  left: 0;
}

.selection__title-wrapper {
  border-top: 3px solid @basic-green;
}

.selection__control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 15px;
  box-sizing: border-box;
}

.selection__legend {
  .margins;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 45%;
}

.selection__footer {
  padding: 40px 0;
  display: grid;
  grid-template-rows: repeat(2, 60%);
  vertical-align: middle;
}

.selection__footer-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: @white;
  background-color: @basic-green;
  display: block;
}

.selection__footer-legend {
  .margins;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 13px;
}

@media (min-width: @tablet-width) {
  .selection {
    display: flex;
  }

  .selection__fieldset {
    padding: 40px 0;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .selection__fieldset:nth-child(2) {
    border: 1px solid @light-grey;
  }

  .selection__legend {
    margin-left: 200px;
  }

  .selection__footer {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(1, 90%);
  }
}

@media (min-width: @desktop-width) {
  .selection__title {
    font-size: 36px;
    line-height: 36px;
  }

  .selection {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .selection__fieldset {
    .margins;
    margin-bottom: 69px;
    width: 568px;
  }

  .selection__fieldset:first-child {
    margin-right: 80px;
  }

  .selection__title__wrapper-data,
  .selection__title__wrapper-comment,
  .selection__title__wrapper-additionally {
    width: 1220px;
  }

  .selection__footer {
    width: 1220px;
  }

  .selection__list {
    display: flex;
    flex-direction: column;
  }
}
