@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
.margins {
  margin: 0;
  padding: 0;
}
.button__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 109px;
  background-color: #68b738;
  color: #ffffff;
}
.page__body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 320px;
  margin: 0 auto;
}
.header__wrapper {
  padding: 10px 20px;
}
.navigation__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.promo {
  background-image: linear-gradient(hsla(97, 53%, 47%, 0.85), hsla(97, 53%, 47%, 0.85)), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 302px;
}
.promo__wrapper {
  position: absolute;
  padding: 30px 40px;
  margin-bottom: 20px;
}
.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 300px;
  padding: 0;
}
.promo__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 44px;
  background-color: #68b738;
  color: #ffffff;
}
.services {
  margin-top: 228px;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}
.item-block {
  background-color: #f5f5f5;
  padding: 20px 20px;
}
.item-block__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.item-block__description {
  margin: 0;
  padding: 0;
  color: #444444;
}
.item-block__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.item-block__icon {
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.description__wrapper {
  padding: 20px;
}
.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.description__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.description__item:not(:last-child) {
  margin-bottom: 20px;
}
.description__text {
  margin: 0;
  padding: 0;
  color: #444444;
}
.example {
  background-color: #f5f5f5;
}
.example__wrapper {
  padding: 25px 20px;
}
.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.example__description {
  margin: 0;
  padding: 0;
  color: #444444;
}
.advantages {
  background-color: #f5f5f5;
}
.advantages__wrapper {
  padding: 48px 20px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__wrapper {
  padding: 26px 20px;
}
.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;
}
.contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.map__frame {
  width: 100%;
  height: 362px;
}
.footer__wrapper {
  padding: 0 20px;
  padding-top: 40px;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  text-decoration: none;
  color: #666666;
}
.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;
}
.stats__list {
  margin: 0;
  padding: 0;
}
.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.stats__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.slider__toggle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.catalog__wrapper {
  padding: 0 20px;
}
.catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card {
  min-height: 190px;
}
.card:last-child .card__title {
  color: #111111;
}
.card__wrapper {
  margin: 8px 0;
  height: 100%;
}
.card__link {
  text-decoration: none;
  color: #222222;
}
.card__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.card__table {
  color: #444444;
  margin-bottom: 13px;
}
.card__table-row {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.card__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 109px;
  background-color: #68b738;
  color: #ffffff;
}
.card__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
}
.card__button-show-all {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 94px;
  background-color: #f2f2f2;
  color: #444444;
}
.products__wrapper {
  padding: 0 20px;
}
.products__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.position__item {
  margin-bottom: 19px;
}
.position__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.position__table {
  margin-bottom: 15px;
  color: #444444;
}
.position__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 109px;
  background-color: #68b738;
  color: #ffffff;
}
.gift {
  padding: 0 20px;
}
.gift__wrapper {
  background-image: linear-gradient(hsla(97, 53%, 47%, 0.85), hsla(97, 53%, 47%, 0.85)), url("../images/gift.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 290px;
}
.gift__title {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.form__wrapper {
  padding: 0 20px;
}
.form__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.form__recommendation {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.selection__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
.selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.selection__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
.selection__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 0;
  padding-left: 15px;
  color: #444444;
}
.selection__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.selection__control {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
}
.selection__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 109px;
  background-color: #68b738;
  color: #ffffff;
  padding: 7px 44px;
  border: none;
}
.selection__legend {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
