.margins {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
/* colors */
/* viewports */
.page__body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    align-items: flex-end;
    height: 120px;
  }
}
.logo {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .logo__toggle {
    display: none;
  }
}
.navigation__list {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
}
.navigation__item {
  text-align: center;
  padding: 24px 0;
  box-sizing: border-box;
}
.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .navigation__list {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 36px;
  }
}
@media (min-width: 1440px) {
  .navigation__link--white {
    color: #ffffff;
  }
  .navigation__item {
    z-index: 1;
  }
}
.promo__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 30px 0;
  text-align: center;
}
.promo__slogan {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 305px;
}
.promo__button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 73px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
}
@media (max-width: 767px) {
  .promo {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 302px;
    color: #ffffff;
  }
  .promo::before {
    position: absolute;
    top: 460px;
    left: 0;
    content: "";
    background-image: url("../img/index-promo-product.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .promo__wrapper {
    padding: 0 140px;
    height: 885px;
    background-image: url("../img/index-promo-tablet .png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }
  .promo__title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
  }
  .promo__slogan {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }
  .promo__button {
    padding: 14px 26px;
    display: inline;
    text-transform: uppercase;
  }
}
@media (min-width: 1440px) {
  .promo::before {
    content: "";
    position: absolute;
    width: 50%;
    min-height: 696px;
    right: 0;
    top: -120px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .promo__wrapper {
    position: relative;
    max-width: 1440px;
    min-height: 650px;
    box-sizing: border-box;
  }
  .promo__wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-product-desktop.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 700px;
    height: 610px;
    top: 0;
    left: 555px;
  }
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    display: inline-block;
    padding-top: 100px;
  }
  .promo__slogan {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
  .promo__button {
    display: inline;
  }
}
.services__wrapper {
  margin: 0 auto;
  margin-top: 200px;
  padding: 0 20px;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .services__wrapper {
    margin: 0;
    padding: 0;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .services__wrapper {
    padding: 0 110px;
  }
  .services__list {
    display: flex;
    justify-content: center;
  }
  .services__item:not(:last-child) {
    margin: 0;
    margin-right: 80px;
  }
}
.item-block {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px 20px;
}
.item-block__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 75px;
  margin-bottom: 35px;
}
.item-block__title::after {
  content: "";
  position: absolute;
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 20px;
}
.item-block__icon {
  position: absolute;
  z-index: 1;
  left: 27px;
}
.item-block:nth-child(2) .item-block__icon {
  top: 30px;
  left: 10px;
}
.item-block__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 44px;
}
.item-block__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .item-block {
    position: relative;
    padding: 77px 53px;
  }
  .item-block__title {
    font-size: 30px;
    line-height: 30px;
  }
  .item-block__title::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 450px;
  }
  .item-block__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }
  .item-block__icon {
    width: 200px;
    height: 200px;
    left: 450px;
  }
  .item-block:nth-child(2) .item-block__icon {
    top: 60px;
    left: 450px;
  }
  .item-block__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .item-block {
    padding: 55px;
  }
  .item-block__title {
    padding-left: 100px;
    padding-bottom: 50px;
  }
  .item-block__title::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 22px;
    left: 50px;
  }
  .item-block__icon {
    width: 100px;
    height: 100px;
    top: 20px;
    left: 55px;
  }
  .item-block__description {
    width: 467px;
  }
  .item-block:nth-child(2) .item-block__icon {
    top: 17px;
    left: 50px;
  }
}
.description__wrapper {
  position: relative;
  min-height: 420px;
}
.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.description__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 50px;
}
.description__item {
  position: relative;
  min-height: 60px;
}
.description__item::before {
  content: "";
  position: absolute;
  left: 10px;
  background-color: #68b738;
  width: 60px;
  height: 60px;
}
.description__item:not(:last-child) {
  margin-bottom: 20px;
}
.description__icon-leaf,
.description__icon-tub,
.description__icon-eat,
.description__icon-alarm {
  position: absolute;
}
.description__icon-leaf {
  width: 26px;
  height: 26px;
  top: 18px;
  left: 28px;
}
.description__icon-tub {
  width: 29px;
  height: 31px;
  top: 10px;
  left: 27px;
}
.description__icon-eat {
  width: 25px;
  height: 30px;
  top: 16px;
  left: 27px;
}
.description__icon-alarm {
  width: 32px;
  height: 33px;
  top: 16px;
  left: 25px;
}
.description__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .description__wrapper {
    min-height: 800px;
  }
  .description__title {
    margin-top: 45px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
  .description__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .description__item {
    height: 280px;
  }
  .description__item:not(:last-child) {
    margin-right: 150px;
  }
  .description__text {
    width: 200px;
    margin-top: 120px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 0;
  }
  .description__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #68b738;
    width: 80px;
    height: 80px;
  }
  .description__icon-leaf {
    width: 30px;
    height: 32px;
    top: 25px;
  }
  .description__icon-tub {
    width: 29px;
    height: 31px;
    top: 25px;
  }
  .description__icon-eat {
    width: 25px;
    height: 30px;
    top: 25px;
  }
  .description__icon-alarm {
    width: 32px;
    height: 33px;
    top: 25px;
  }
}
@media (min-width: 1440px) {
  .description__wrapper {
    min-height: 440px;
  }
  .description__item:not(:last-child) {
    margin: 0;
    padding: 0;
  }
  .description__list {
    justify-content: space-between;
  }
}
.example {
  background-color: #eaeaea;
}
.example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-top: 25px;
  margin-bottom: 40px;
}
.example__description {
  margin: 0;
  padding: 0;
  color: #444444;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .example {
    background-color: transparent;
  }
  .example__wrapper {
    padding-right: 800px;
    min-height: 600px;
  }
  .example__title {
    margin-bottom: 146px;
  }
  .example__description {
    width: 436px;
    margin-bottom: 70px;
  }
}
.advantages {
  background-color: #eaeaea;
}
.advantages__wrapper {
  height: 256px;
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .advantages__item-fat {
    content: "";
    position: absolute;
    top: 0;
    left: 47px;
    overflow: hidden;
    width: 128px;
    height: 230px;
    background-image: url("../img/fat-cat-mobile.png");
    background-color: #eaeaea;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .advantages__item-skinny {
    position: absolute;
    content: "";
    left: 63px;
    background-image: url("../img/skinny-cat-mobile.png");
    background-repeat: no-repeat;
    width: 220px;
    height: 230px;
  }
}
@media (min-width: 768px) {
  .advantages {
    background-image: linear-gradient(#ffffff 30%, #eaeaea 30%);
  }
  .advantages__wrapper {
    width: 560px;
    height: 616px;
    margin: 0 auto;
  }
  .advantages__item-fat {
    position: absolute;
    background-image: url("../img/fat-cat-tablet.png"), linear-gradient(#ffffff 35%, #eaeaea 35%);
    background-repeat: no-repeat;
    width: 290px;
    height: 530px;
    left: 0;
    z-index: 1;
  }
  .advantages__item-skinny {
    position: absolute;
    background-image: url("../img/skinny-cat-tablet.png");
    background-repeat: no-repeat;
    width: 560px;
    height: 530px;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .advantages {
    background-color: transparent;
  }
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 112px;
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
.contacts__title {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 140px;
}
.contacts__adress {
  padding-top: 26px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    max-width: 768px;
    padding: 60px 70px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .contacts__title,
  .contacts__adress {
    width: 170px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }
  .contacts__wrapper {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 80px;
    width: 405px;
    height: 86px;
    z-index: 1;
    align-items: center;
  }
  .contacts__title,
  .contacts__adress {
    margin: 0;
    padding: 0;
  }
}
.map__frame {
  width: 100%;
  height: 360px;
}
.footer {
  background-color: #f2f2f2;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  padding-top: 20px;
  margin-bottom: 52px;
}
.footer__social {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo,
  .footer__social {
    margin: 0;
    padding: 0;
    padding: 50px 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 24px;
}
.social__link {
  text-decoration: none;
  color: #666666;
}
.copyright__text {
  margin: 0;
  padding: 0;
}
.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;
  width: 280px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: end;
    margin-top: 20px;
  }
  .copyright__text {
    margin-right: 22px;
  }
}
.stats__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stats__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.stats__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
.stats__total {
  display: flex;
  justify-content: center;
  padding: 20px 46px;
}
.stats__total-value,
.stats__total-item {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .stats__total {
    align-items: center;
  }
  .stats__item:first-child {
    margin-right: 66px;
  }
  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }
  .stats__total-item {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
  }
  .stats__total-value {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .stats {
    margin-bottom: 120px;
  }
  .stats__list {
    width: 367px;
  }
  .stats__item {
    margin-bottom: 55px;
  }
  .stats__total-item {
    flex-direction: row;
    align-items: flex-start;
  }
}
.slider__toggle {
  border: none;
  background-color: transparent;
  background-image: url("../img/slider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 280px;
  position: absolute;
  bottom: 0;
  left: 155px;
  z-index: 2;
}
@media (min-width: 768px) {
  .slider__toggle {
    background-color: transparent;
    background-image: url("../img/slider-tablet.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 560px;
    position: absolute;
    top: 0;
    left: 270px;
    z-index: 2;
  }
}
.catalog__wrapper {
  margin: 0 auto;
}
.catalog__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog__item {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    width: 708px;
  }
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  .catalog__item {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
  }
  .catalog__title {
    margin-top: 74px;
  }
  .catalog__item {
    width: 245px;
  }
}
.card:last-child .card__title {
  color: #111111;
}
.card__link {
  text-decoration: none;
  color: #222222;
}
.card__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.card__table {
  color: #444444;
  width: 142px;
  height: 43px;
}
.card__table-row {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.card__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  background-color: #68b738;
  color: #ffffff;
  display: block;
}
.card__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px;
}
.card__button-show-all {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background-color: #f2f2f2;
  color: #444444;
  text-align: center;
  display: block;
}
.card__description {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .card {
    background-image: linear-gradient(#ffffff 15%, #f2f2f2 15%);
  }
  .card__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
.products__title {
  margin: 0;
  padding: 0;
  margin: 25px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products__wrapper {
    padding: 30px;
  }
  .products__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .products {
    width: 896px;
  }
  .products__wrapper {
    margin: 0;
    padding: 0;
  }
  .products__title {
    margin: 0;
    padding: 0;
    margin-bottom: 81px;
  }
}
.position__item {
  margin-bottom: 19px;
}
.position__title {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.position__table {
  margin-bottom: 25px;
  color: #444444;
}
.position__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  padding: 10px 93px;
  display: block;
}
@media (min-width: 1440px) {
  .position__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.gift__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  background-image: linear-gradient(hsla(97, 53%, 47%, 0.85), hsla(97, 53%, 47%, 0.85)), url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0 auto;
}
.gift__title {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
}
@media (min-width: 768px) {
  .gift__wrapper {
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(hsla(97, 53%, 47%, 0.85), hsla(97, 53%, 47%, 0.85)), url("../img/image-catalog-tablet.png");
    background-repeat: no-repeat;
  }
  .gift__title {
    width: 165px;
  }
}
@media (min-width: 1440px) {
  .gift {
    margin: 0;
    padding: 0;
    display: inline;
    align-self: flex-end;
  }
  .gift__wrapper {
    flex-direction: column;
    background-image: linear-gradient(hsla(97, 53%, 47%, 0.85), hsla(97, 53%, 47%, 0.85)), url("../images/gift.png");
    background-repeat: no-repeat;
  }
}
.form__selction {
  display: flex;
  flex-wrap: wrap;
}
.form__title {
  margin: 27px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.form__recommendation {
  margin: 20px;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 262px;
}
@media (min-width: 768px) {
  .form__title {
    margin: 70px 65px;
    padding-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
  .form__recommendation {
    width: 323px;
    margin: 70px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    margin: 110px;
  }
  .form__recommendation {
    font-size: 20px;
    line-height: 30px;
    margin: 110px;
  }
}
.selection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.selection__fieldset {
  padding: 20px 0;
  border: none;
}
.selection__fieldset-name {
  border: none;
}
.selection__fieldset-services {
  border: none;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  max-width: 280px;
}
.selection__item {
  margin-bottom: 13px;
}
.selection__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}
.selection__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 15px;
  width: 100%;
  color: #444444;
  box-sizing: border-box;
}
.selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding: 0 20px;
  margin-bottom: 35px;
  position: relative;
  top: -30px;
  left: 0;
  border-top: 3px solid #68b738;
}
.selection__control-email,
.selection__control-tel {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 15px;
  box-sizing: border-box;
  width: 219px;
}
.selection__control-comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0;
  padding-left: 15px;
  box-sizing: border-box;
  min-width: 280px;
}
.selection__wrapper {
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.selection__legend {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 45%;
}
.selection__footer-wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}
.selection__footer-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  display: block;
}
.selection__footer-legend {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 13px;
}
@media (min-width: 768px) {
  .selection__wrapper {
    max-width: 628px;
    padding: 0 70px;
    margin: 0 auto;
  }
  .selection__list {
    max-width: 630px;
  }
  .selection__legend {
    margin-left: 200px;
  }
  .selection__label {
    max-width: 630px;
    margin: 0 auto;
  }
  .selection__control-email,
  .selection__control-tel {
    width: 535px;
  }
  .selection__control-comment {
    width: 631px;
  }
  .selection__footer-wrapper {
    flex-direction: row;
    max-width: 628px;
    padding: 0 70px;
    margin: 0 auto;
  }
  .selection__footer-link {
    width: 100%;
  }
  .selection__footer-legend {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .selection__wrapper {
    max-width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
  .selection__title {
    font-size: 36px;
    line-height: 36px;
  }
  .selection__fieldset-name {
    margin-right: 80px;
  }
  .selection__fieldset-name,
  .selection__fieldset-services {
    width: 570px;
  }
  .selection__control-comment {
    min-width: 1220px;
  }
  .selection__list {
    display: flex;
    flex-direction: column;
    max-width: 570px;
  }
  .selection__list:nth-child(2) {
    flex-direction: row;
    justify-content: space-between;
  }
  .selection__label {
    max-width: 670px;
  }
  .selection__footer-wrapper {
    max-width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
.additionally {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}
.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.additionally__list {
  width: 280px;
  margin: 0 auto;
}
.additionally__item {
  height: 30px;
  padding-left: 46px;
}
@media (min-width: 768px) {
  .additionally {
    max-width: 565px;
    height: 90px;
    flex-wrap: wrap;
  }
  .additionally__item {
    height: 40px;
    padding-left: 60px;
  }
}
@media (min-width: 1440px) {
  .additionally {
    max-width: 1220px;
    flex-direction: row;
  }
}
.products-and-gift-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .products-and-gift-wrapper {
    width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.container {
  min-width: 280px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .example-and-advantages-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#ffffff 30%, #eaeaea 30%);
  }
}
@media (min-width: 1440px) {
  .fieldset-wrapper {
    display: flex;
    padding: 0 110px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */
